* {
    margin:0;
    padding:4;
}

body {
    background-color: rgb(228, 224, 224);
    width:100%;
}


:root {
  --headerfooter: rgb(36, 18, 18);
  --hover: rgb(250, 250, 158);
}

.header-name {
  font-family: "Exo", sans-serif;
  font-size: 200%;
}

.nav-fixed {
  position: fixed;
  z-index: 5; /*A larger z-index covers more than a smaller one*/
}



#about {
    padding:60px;
}


.format-bio {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-break {
    background-image: url("./images/section-break-img.jpg");
    background-size:cover;
    background-attachment: fixed;
    height:250px;
    padding:45px;
    color:white;
}

#projects h2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 45px;
}

.contact-break {
    background-image: url("./images/section-contact-page.jpg");
    background-size:cover;
    background-attachment: fixed;
    height:250px;
    padding:45px;
    color:white;
}

#contact h2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 45px;
}



/* My Work Section  */


.carousel-caption {
    background-color: white;
    color:black;
    opacity: 80%;
    height:20%;
    padding:1%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    z-index:3

}

.carousel-indicators {
  z-index:3
}

h5 {
    color:rgb(7, 7, 167);
}


/* Contact Form */

.contact-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  
}

/* Media Links */

.social-btn {
    width:33px;
    height:33px;
    background-color: rgb(8, 8, 65);
    border-radius: 100%;
}

.fixed-action-btn {
    position: fixed;
    bottom:0;
    right:20px;
}

.list {
    list-style: none;
    margin: 0 3px;
}

/* positioning of icons within the list element */

ul li a i.github {
  position: relative;
  left:8px;
  top:3px;
}

ul li a i.pdf {
  position: relative;
  left:10px;
  top:3px;
}

ul li a i.linkedin {
  position: relative;
  left:9px;
  top:4px;
}

ul li a i.email {
  position: relative;
  left:8px;
  top:3px;
}


.icon-color {
  color:white;
  width:7px;
  height:9px;

}
















#about-me {
  margin-top: 0%;
}

/* Footer Section */

.style-footer {
  color: white;
  width: 100%;
  -family: -apple-system, BlinkfontMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* About Me section */














.priority-card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 5%;
  margin-bottom: -5%;
}

.priority-style-project {
  border: 3px solid rgba(226, 108, 108, 0.521);
  width: 70%;
  height: 65%;
  background-color: var(--headerfooter);
  transition: all 0.3s ease-in-out;
}

.project-image-priority {
  width: 97%;
  height: 92%;
  margin-left: 4%;
  margin-right: 5%;
  position: relative;
  top: 4%;
  right: 2.5%;
  border: 2px solid black;
}

.style-project-caption-priority {
  margin: 5%;
  margin-top: 3%;
  border: 1px solid black;
  width: 50%;
  height: 15pt;
  font-size: 90%;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  flex-shrink: 4;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px black;
  border-radius: 10px;
}

.style-project-caption-priority h3 {
  position: relative;
  top: 5px;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-bottom: 5%;
  border: 2px solid rgba(243, 240, 247, 0.048);
  box-shadow: inset 0px 0px 60px rgba(243, 240, 247, 0.048);
}

.style-project {
  border: 3px solid rgba(226, 108, 108, 0.521);
  width: 50%;
  height: 100%;
  background-color: var(--headerfooter);
  transition: all 0.3s ease-in-out;
}

.project-image {
  margin: 2% 2% 2% 2%;
  width: 96%;
  border: 2px solid black;
}

.style-project-caption {
  margin-bottom: 5%;
  border: 1px solid black;
  width: 45%;
  height: 15pt;
  font-size: 90%;
  text-align: center;
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-shrink: 4;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 15px black;
  border-radius: 10px;
}

.style-project-caption h3 {
  position: relative;
  top: 1%;
}

.style-project a {
  text-decoration: none;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
}

/* Contact Me Section */





.style-button {
  padding: 2%;
  background-color: grey;
  color: white;
  box-shadow: 3px 3px 5px 2px black;
  margin-bottom: 5%;
}

input {
  width: 75%;
  height: 25px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  border: 1px solid black;
}

form {
  width: 50%;
}

.style-contact .center-submit {
  text-align: center;
}

.center-submit {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Hover styling */

nav a:hover {
  color: var(--hover);
  font-size: 110%;
  transition: all 0.2s ease-out;
}

.style-project:hover,
.priority-style-project:hover {
  box-shadow: inset 0px 0px 20px rgb(226, 108, 108),
    5px 5px 40px rgb(226, 108, 108);
}

footer a:hover {
  color: var(--hover);
}

.style-button:hover {
  color: var(--hover);
}

.card-column .style-project:hover {
  /*increases the height and width of card upon hover */
  height: 60%;
  width: 60%;
}

/* Media Queries  */

 @media screen and  (max-width:1250px) {
  
    .card-column {
      flex: 0 0 45%;
    }
  
    .style-title {
        width:60%;
        padding:2%;
        font-size:200%;
      }
  
    .wrapnav {
      width:100%;
    }
  
    form {
      width:100%;
    }
  
    input {
      width:50%;
      height:50%;
    }
  }
    
  
  @media screen and (max-width:1300px) {
  
    #about {
      flex-direction: column;
      align-items: center;
    }
  
    .style-image {
      flex-grow:20%;
      margin-bottom:6%;
    }
  
  
    .style-about-me {
      font-size: 150%;
      flex-grow: 6%;
      margin-bottom: 0%;
    }
  
    .format-content {
      font-size: 95%;
      flex: 0 2 45%;
      padding:4%;
    }
  
    .style-image .style-about {
      flex:0 0 45%;

    }
  
    .style-image {
      margin-left: 8%;
      right:3%;
    }
  
    .style-about {
      right:5%;
      width:100%;
    }
  
    .style-title {
      width:50%;
    }
  
    .wrapnav {
      width:100%;
    }
  }
  
  
  @media all and (max-width: 1200px) {
    .style-title {
      width:50%;
      padding:2%;
      font-size:200%;
    }
  
    header {
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5%;
    }
  
    nav ul {
      width:50%;
    }
  
    .card-column {
      width:100%;
    }
  
    .size-welcome {
      font-size: 70%;
    }
  
    .wrapnav {
      font-size: 90%;
      width:100%;
    }
  
  }
  
  @media all and (max-width:605px) {
    header {
      padding:4%;
    }
  
    .style-project-caption {
      height:10pt;
    }
  
    .style-project-caption-priority {
      height:15pt;
    }
    
    .size-welcome {
      font-size: 60%;
    }
  
    .wrapnav {
      width:100%;
    }
  
    .style-contact {
      width:50%;
      height:100%;
      font-size: 90%;
      justify-content: center;
      align-items: center;
    }
  
    form {
      width:100%;
    }
  
    input {
      width:50%;
      height:50%;
    }
  }
  
  /* @media all and (max-width:455px) {
    .style-title {
      font-size:180%;
      flex-direction: column;
      justify-content:center;
      width:100%;
      -webkit-text-stroke: 1px #856a3a;
    text-shadow: 0px 2px 3px rgb(155, 105, 47);  
    }
    
    .size-welcome {
      font-size: 30%;
    }
  
    .format-content {
      padding:8%;
    }
  
    nav {
      font-size:10%;
      justify-content: center;
      width: 25%;
    }
  
    .style-about {
      width:100%;
    }
  
    .style-header {
      font-size:60%;
      align-items: center;
    }
  
    .section-header h2 {
      font-size:150%;
    }
  
    h3 {
      font-size: 10px;
    }
  
    .style-contact {
      width:100%;
      height:100%;
      font-size: 80%;
      flex-direction: column;
    }
  
    form {
      width:100%;
    }
  
    input {
      width:50%;
      height:50%;
    }
  
  }
  
  @media all and (max-width:860px) {
    .style-title {
      margin-bottom: 3%;
      width: 100%;
      justify-content:center;
      align-items: center;
      font-size: 180%;
    }
  
    header {
      padding:4%;
    }
  
    nav {
      font-size: 80%;
      justify-content: center space-evenly;
      width: 100%;
    }
  
    .style-header {
      width:100%;
      padding: 1%;
      }
  
    .section-header {
        font-size: 70%;
      }
  
    .work {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .priority-card-column {
      width:90%;
      height:90%;
      margin-bottom: 10%;
  
    }
  
    .card-column {
      width:80%;
      height:80%;
    }
  
    .style-contact {
      width:75%;
    }
  
    form {
      width:75%;
    }
  
    .style-contact {
      width:50%;
      height:100%;
      font-size: 80%;
    }
  
    form {
      width:50%;
    }
  
    input {
      width:100%;
      height:70%;
    }
  } */
